<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-img">

                </div>
            </div>

            <div class="col-sm-7">
                <span class="uff">Education</span>
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Course
                                        </th>
                                        <th>Board/University</th>
                                        <th>Year</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th>
                                        FSD
                                    </th>
                                    <th>Board/University</th>
                                    <th>Year</th>
                                    <th>Percentage</th>
                                </tbody>
                                <tbody>
                                    <th>
                                        M.Tech(CSE)
                                    </th>
                                    <th>Board/University</th>
                                    <th>Year</th>
                                    <th>Percentage</th>
                                </tbody>
                                <tbody>
                                    <th>
                                        B.Tech(CSE)
                                    </th>
                                    <th>Board/University</th>
                                    <th>Year</th>
                                    <th>Percentage</th>
                                </tbody>
                                <tbody>
                                    <th>
                                        HSC
                                    </th>
                                    <th>Board/University</th>
                                    <th>Year</th>
                                    <th>Percentage</th>
                                </tbody>
                                <tbody>
                                    <th>
                                        SSLC
                                    </th>
                                    <th>Board/University</th>
                                    <th>Year</th>
                                    <th>Percentage</th>
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>