<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-img">

                </div>
            </div>

            <div class="col-sm-7">
                <span class="uff">Let me introduce</span>
                <h4 class="mt-4">Hi am Silpa,<br> A MEAN Stack Developer</h4>
                <p class="pdisc mt-3 mb-4">I’m also a Passionate-Coder and Computer Science Graduate with a keen eye for creating responsive Web Applications, bringing products to life. My subjects of intrest includes Web Developement, Database Management system, Data structure
                    and algorithms.. </p>
                <a href="#">Read More </a>
            </div>
        </div>
    </div>
</section>